{% extends 'base.html.twig' %}

{% block title %}Création{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h2>Création d'une activité d'escalade</h2>
    </div>
    <div class="col-12">
        {{ form_start(form) }}
        <div class="form-group my-2">
            {{form_label(form.nom, "Nom :")}}
            {{form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Saisissez un nom'}})}}
            {{form_errors(form.nom)}}
        </div>
        <div class="form-group my-2">
            {{form_label(form.date, "Date :")}}
            {{form_widget(form.date, {'attr': {'class': 'form-control', 'placeholder': 'Saisissez une date'}})}}
            {{form_errors(form.date)}}
        </div>
        <div class="form-group my-2">
            {{form_label(form.image, "Image :")}}
            {{form_widget(form.image, {'attr': {'class': 'form-control', 'required': false}})}}
            {{form_errors(form.image)}}
        </div>
        <div class="form-group my-2">
            {{form_label(form.description, "Description :")}}
            {{form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Saisissez une description'}})}}
            {{form_errors(form.description)}}
        </div>
        <div class="form-group my-2">
            {{form_label(form.localisation, "Localisation :")}}
            {{form_widget(form.localisation, {'attr': {'class': 'form-control', 'placeholder': 'Saisissez une localisation'}})}}
            {{form_errors(form.localisation)}}
        </div>
        <div class="form-group my-2">
            {{form_label(form.requireRank, "Rang requis :")}}
            {{form_widget(form.requireRank, {'attr': {'class': 'form-control', 'placeholder': 'Saisissez un rang minimal'}})}}
            {{form_errors(form.requireRank)}}
        </div>
        <div class="form-group my-2">
            {{form_label(form.maxUser, "Nombre de participant maximal :")}}
            {{form_widget(form.maxUser, {'attr': {'class': 'form-control', 'placeholder': 'Saisissez un nombre de participant'}})}}
            {{form_errors(form.maxUser)}}
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="text-light">
            <input class="btn btn-primary w-100 my-3" type="submit" value="Sauvegarder">
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
