{% extends 'base.html.twig' %}

{% block title %}Hello ConnectionController!{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <h2 class="text-center" style="font-weight: 700">Connexion</h2>
    {{ form_start(form, {'method': 'POST'}) }}
        <div class="form-group my-2">
            {{form_label(form.email, "Email :")}}
            {{form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Saisissez votre email'}})}}
            {{form_errors(form.email)}}
        </div>
        <div class="form-group my-2">
            {{form_label(form.password, "Password :")}}
            {{form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': "*********"}})}}
            {{form_errors(form.password)}}
        </div>
        <div>
            <input class="btn btn-success w-100 my-3" type="submit" value="Connexion">
        </div>
    {{ form_end(form) }}
    <!--<form method="POST">
        <h3>Connexion</h3>
        <div class="form-group">
            <label>E-mail</label>
            <input class="form-control" type="email" name="email" required>
        </div>
        <div class="form-group">
            <label>Mot de passe</label>
            <input class="form-control" type="password" name="password" required>
        </div>
        <button class="btn btn-success my-3 w-100" type="submit">Connexion</button>
    </form>-->
</div>
{% endblock %}